@import '../var.scss';

.y-button {
  min-width: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding: 10px 16px;
  border: 1px solid transparent;
  border-radius: $border-radius;
  font-size: $font-size;
  outline: none;
  cursor: pointer;
  @extend %button-ripple;
  &.y-button-icon-right {
    .icon {
      order: 2;
      margin-right: 0;
      margin-left: .5em;
    }
    .y-button-content {
      order: 1;
    }
  }
  .icon {
    order: 1;
    margin-right: .5em;
  }
  .y-button-content {
    order: 2;
  }
  .loading {
    animation: spin 1.5s infinite linear;
  }
  &-default {
    background-color: $button-default-fill;
    border-color: $button-default-fill;
    &:hover {
      background-color: darken($button-default-fill,10%);
    }
  }
  &-primary {
    background-color: $button-primary-fill;
    color: #fff;
    border-color: $button-primary-fill;
    &:hover {
      background-color:darken($button-primary-fill,10%);
    }
  }
  &-warning {
    background-color: $button-warning-fill;
    color: #fff;
    border-color: $button-warning-fill;
    &:hover {
      background-color:darken($button-warning-fill,10%);
    }
  }
  &-error {
    background-color: $button-error-fill;
    color: #fff;
    border-color: $button-error-fill;
    &:hover {
      background-color:darken($button-error-fill,10%);
    }
  }
  &-success {
    background-color: $button-success-fill;
    color: #fff;
    border-color: $button-success-fill;
    &:hover {
      background-color:darken($button-success-fill,10%);
    }
  }
  &-info {
    background-color: $button-info-fill;
    color: #fff;
    border-color: $button-info-fill;
    &:hover {
      background-color:darken($button-info-fill,10%);
    }
  }
}
