@import "../var.scss";
.y-cascader {
  position: relative;
  .y-cascader-arrow:last-of-type {
    display: none;
    cursor: pointer;
  }
  &:hover {
    .y-cascader-arrow:last-of-type {
      display: inline-flex;
    }
  }
  &-show-clear:hover {
    .y-cascader-arrow:first-of-type {
      display: none;
    }
  }
  &-visible {
    .y-cascader-arrow:first-of-type {
      transform: rotate(180deg);
    }
  }
  &-wrapper {
    position: relative;
  }
  &-trigger {
    width: 100%;
    height: $input-height;
    padding: 0 16px;
    outline: none;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    color: $input-color;
    cursor: pointer;
    &::placeholder {
      color: #dcdee2;
    }
  }
  &-arrow {
    font-size: 12px;
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -6px;
    transition: all 0.2s ease-in-out;
  }
  &-popover {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    @extend %box-shadow;
  }
}
.y-cascader-pane {
  min-width: 100px;
  height: 180px;
  padding: 5px 0;
  white-space: nowrap;
  overflow: auto;
  border-right: 1px solid #e8eaec;
  &-wrapper {
    display: flex;
    font-size: 12px;
    color: $input-color;
  }
}

.y-cascader-item {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-active {
    background: #f3f3f3;
    color: #2d8cf0;
  }
  &:hover {
    background: #f3f3f3;
  }
  &-arrow {
    transform: scale(0.7);
    font-size: 12px;
    color: inherit;
  }
}