.y-collapse {
  border: 1px solid #dcdee2;
  border-radius: 4px;
}
.y-collapse {
  &-item {
    border-top: 1px solid #dcdee2;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      .y-collapse-content {
        border-radius: 0 0 4px 4px;
      }
    }
    &.active {
      .y-collapse-header {
        border-bottom: 1px solid #dcdee2;
      }
    }
  }
  &-header {
    min-height: 32px;
    display: flex;
    align-items: center;
    padding: 0 8px;
  }
  &-content {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}