.y-collapse {
  border: 1px solid #dcdee2;
  border-radius: 4px;
}
.y-collapse {
  &-item {
    border-top: 1px solid #dcdee2;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      .y-collapse-item-content {
        border-radius: 0 0 4px 4px;
      }
    }
    &-header {
      min-height: 32px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      background: #eee;
      color: rgba(0,0,0,.85);
    }
    &-content {
      padding: 0 16px;
      transition: height .2s;
      &-box {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
  }
}