@import "../var.scss";
.slide-up-enter-active {
  opacity: 0;
  animation: slideIn .2s ease-in-out;
}
.slide-up-leave-active {
  animation: slideOut .2s ease-in-out;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(.8);
  }
  100% {
      opacity: 1;
      transform-origin: 0% 0%;
      transform: scaleY(1);
  }
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
  100% {
      opacity: 0;
      transform-origin: 0% 0%;
      transform: scaleY(.8);
  }
}
.y-menu {
  display: flex;
  position: relative;
  color: #515a6e;
  background: #fff;
  &-vertical {
    flex-direction: column;
    transition: height .2s;
    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: #dcdee2;
    }
    .y-menu-item {
      padding: 16px 24px;
      text-align: left;
      &-active {
        color: #2d8cf0;
        border-right: 2px solid #2d8cf0;
      }
    }
    .y-sub-menu-title {
      padding: 16px 24px;
      &:hover {
        color: #2d8cf0;
      }
      &-icon {
        float: right;
      }
    }
  }
  &-horizontal {
    height: 60px;
    line-height: 60px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      margin-top: -1px;
      background:#dcdee2;
    }
    .y-menu-item {
      padding: 0 20px;
      &-active {
        z-index: 1;
        border-bottom: 2px solid #2d8cf0;
      }
      &:hover {
        border-bottom: 2px solid #2d8cf0;
      }
    }
    .y-sub-menu {
      height: inherit;
      line-height: inherit;
      padding: 0 20px;
      position: relative;
      z-index: 1;
      border-bottom: 2px solid transparent;
      transition: all .2s ease-in-out;
      &:hover {
        border-bottom: 2px solid #2d8cf0;
      }
      &-active {
        border-bottom: 2px solid #2d8cf0;
      }
      &-popover {
        min-width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 5px;
        @extend %box-shadow;
        background: #fff;
        .y-menu-item {
          padding: 8px 16px;
          line-height: normal;
          border-bottom: none;
          &:hover {
            background: #f3f3f3;
          }
          &-active {
            color: #2d8cf0;
          }
        }
      }
    }
  }
}
.y-sub-menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg{
    margin-right: 8px;
  }
  &-icon {
    vertical-align: middle;
    font-size: 12px;
    margin-left: 8px;
  }
}
  
.y-menu-item {
  position: relative;
  white-space: nowrap;
  z-index: 1;
  cursor: pointer;
  > svg {
    margin-right: 8px;
  }
}
.y-sub-menu {
  cursor: pointer;
  &-open {
    .y-sub-menu-title-icon {
      transform: rotateZ(180deg);
    }
  }
}