.y-pager {
  &-item,&-jump-prev,&-jump-next {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    min-width: 32px;
    margin:0 4px;
    border: 1px solid #dcdee2;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    color: #5f5b5b;
    &:hover, &-active {
      color: #2d8cf0;
      border-color: #2d8cf0;
    }
  }
  &-separator {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    min-width: 32px;
    margin-right: 5px;
    text-align: center;
    cursor: default;
  }
  &-jump-disabled {
    color: #dcdee2;
    cursor: not-allowed;
    &:hover {
      color: #dcdee2;
      border-color: #dcdee2;
    }
  }
}