.y-tabs {
  overflow: hidden;
  &-bar {
    border-bottom: 1px solid #dcdee2;
    margin-bottom: 16px;
  }
  &-nav {
    display: inline-flex;
    position: relative;
  }
  &-underline {
    position: absolute;
    height: 2px;
    width: 100%;
    background: #2d8cf0;
    bottom: -1px;
    &.y-tabs-underline-animated {
      transition: transform .3s ease-in-out;
    }
  }
  &-tab {
    padding: 8px 16px;
    margin-right: 16px;
    cursor: pointer;
    color: #515a6e;
    &.y-tabs-tab-active {
      color: #2d8cf0;
    }
  }
  &-content {
    display: flex;
    &.y-tabs-content-animated {
      transition: transform .3s ease-in-out;
    }
    &.y-tabs-content-no-animated {
      transform: none !important;
    }
  }
}
.y-tabs-pane {
  width: 100%;
  flex-shrink: 0;
}