@import 'normalize.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,*::after {
  box-sizing: border-box;
}
html {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px;
  color: #515a6e;
}
ul,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}